@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../options/fonts/Inter-4.0/InterVariable.woff2") format("woff2");
}

body {
    font-family: InterVariable, sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 60%;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0 0 0 0.1);
    border-radius: 8px;
    padding: 2em;
    overflow-x: hidden;
}

h1, h3 {
    color: #333;
    font-weight: normal;
}

h2 {
    color: #7914ad;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

li {
    text-align: justify;
    line-height: 1.2em;
    margin-bottom: 1em;
}

hr {
    width: 30%;
    border: none;
    height: 1px;
    background-color: #6a6a6a;
}

code {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 0.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}

img {
    width: 95%;
    display: block;
    margin: 50px auto;
    margin-bottom: 100px;
    filter: drop-shadow(0 12px 20px #5858584d);
}

#v1-0-add-custom-bang,
#v1-0-backup-recover {
    width: 70%;
}

.header {
    display: flex;
    justify-content: end;
    padding: 20px;
}

#homepage {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 0.9em;
}

.logo-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

#github-logo {
    margin-bottom: 2px;
}

#yang-logo {
    width: 15%;
    margin: 0 auto;
}

.update {
    width: 75%;
    text-align: start;
    margin: 50px auto;
    font-size: medium;
}

@media screen and (width < 1000px) {
    .container {
        max-width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .update {
        width: 85%;
    }

    p, li {
        text-align: start;
    }

    #yang-logo {
        width: 25%;
        margin-top: 20px;
    }
}
