@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/Inter-4.0/InterVariable.woff2") format("woff2");
}

body {
  font-family: InterVariable, sans-serif;
  font-size: 1.1rem;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.inner-container {
  max-width: 70vw;
}

#header {
  display: flex;
  width: 100vw;
  height: 5rem;
  box-sizing: border-box;
  padding: 0 40px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 20px #e0e0e0;
}

#footer {
  display: flex;
  width: 100vw;
  padding: 20px 30px;
  margin-top: auto;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 0.85rem;
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-wrap: nowrap;
}

a {
  color: #0000ff;
}

.select-custom-default-bangs {
  width: 15.8rem;
  cursor: pointer;
  user-select: none;
}

.select-custom-default-bangs .select-button {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.select-custom-default-bangs .select-options {
  position: absolute;
  display: none;
  width: 14.35rem;
  margin: 0;
  padding: 0.7rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.select-custom-default-bangs.active .select-options {
  display: block;
  opacity: 1;
  animation: fade 0.2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.select-custom-default-bangs svg {
  margin-top: 4px;
}

.button-container button svg {
  margin-right: 5px;
}

.select-custom-default-bangs.active svg {
  transform: rotate(180deg);
}

.select-options .option {
  display: flex;
  height: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

.select-options .option.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  user-select: none;
}

.select-options .option.disabled:hover {
  background: #fff;
}

.button-container a {
  text-decoration: none;
}

#settings {
  color: #454545;
  fill: #454545;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background: none;
  cursor: pointer;
}

#settings svg {
  margin-top: 8px;
}

#pagination > a {
  margin-right: 2px;
  text-decoration: none;
  cursor: pointer;
  background: #ffffff;
  padding: 8px;
  border-radius: 8px;
  color: #8f8594;
}

.select-custom-default-bangs .select-button:hover,
.select-custom-default-bangs.active .select-button,
.select-options .option:hover,
#settings:hover,
#pagination > a:hover {
  background: #f5f0f8;
}

#pagination > a:hover {
  color: #0000ff;
}

#pagination > a.ellipses {
  background: #ffffff;
}

.select-custom-default-bangs .select-button:active,
.select-options .option:active,
#settings:active {
  background: #e6e0ea;
}

.select-options .option-text {
  font-size: 1.2rem;
}

h1 {
  margin: 0;
  background-image: linear-gradient(to right, #7814ae, #d53);
  color: transparent;
  background-clip: text;
  font-size: 1.8rem;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.button-container button {
  display: flex;
  align-items: center;
  font-size: medium;
}

.toast-container button {
  background-color: transparent;
  color: yellow;
  border: none;
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}

#search-bar {
  display: flex;
  width: 6.8rem;
  height: 2.5rem;
  padding: 0 0.6rem;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px #aaa;
  border-radius: 6px;
  background-color: #fff;
}

#search-bar:has(#query:focus) {
  outline: 1px solid #7814ae;
}

#search-bar.searching {
  width: 30%;
}

#query {
  border: none;
  height: 100%;
  width: 100%;
  text-align: start;
  font-size: 0.95rem;
  background-color: transparent;
}

#query:focus {
  outline: none;
}

#query::placeholder {
  opacity: 0.7;
  color: #5c5c5c;
}

#search-bar button {
  border: none;
  background: none;
}

#search-button {
  pointer-events: none;
}

#clear-button {
  display: none;
  cursor: pointer;
}

#search-bar svg {
  color: #5c5c5c;
  fill: currentcolor;
}

#search-button svg {
  width: 1.1rem;
  height: 1.1rem;
}

#clear-button svg {
  width: 0.92rem;
  height: 0.92rem;
}

#action-button {
  margin-left: auto;
  background: #e15e49;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    border-radius 0.5s ease,
    background 0.3s ease;
}

#add-bang,
#show-inactive {
  display: none;
  gap: 4px;
  justify-items: center;
}

#action-button:hover {
  background: #a84636;
  border-radius: 12px;
}

#yang-logo {
  width: 3.2rem;
  cursor: pointer;
}

.table-container {
  margin: 25px auto;
  min-width: 50%;
  width: 80%;
}

#button-spinner {
  margin-top: 2rem;
}

#button-spinner > svg {
  margin: 0;
  height: 2rem;
  animation: 0.6s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#bangs-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 8px 8px 0 0;
  font-size: 0.95rem;
  font-family: sans-serif;
  text-align: left;
  box-shadow: 0 0 20px #e0e0e0;
  overflow: hidden;
  background-color: #fff;
}

tr:has(.active-bang-status.inactive) {
  opacity: 0.5;
}

#bangs-table thead tr {
  background: linear-gradient(to right, #7814ae, #d53);
  color: #fff;
}

#bangs-table th,
#bangs-table td {
  padding: 12px 25px;
  white-space: nowrap;
}

#bangs-table th:first-child,
#bangs-table td:first-child {
  width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bangs-table th:last-child,
#bangs-table td:last-child {
  text-align: end;
  padding-right: 25px;
  padding-left: 0;
  overflow: visible;
}

#bangs-table tbody tr {
  border-bottom: 1px solid #ddd;
}

#bangs-table tbody tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

#bangs-table tbody tr:last-of-type {
  border-bottom: 2px solid #d53;
}

#bangs-table tbody tr:hover {
  color: #361149;
  background-color: #f5f0f8;
}

#bangs-table .edit-button,
#bangs-table .delete-button {
  border: none;
  background: none;
  padding: 0 8px;
  margin: 2px;
  cursor: pointer;
  color: #494949;
}

#bangs-table .edit-button:hover {
  color: #7814ae;
}

#bangs-table .delete-button:hover {
  color: #c01010;
}

#bangs-table .active-bang-status {
  border: none;
  background: none;
  cursor: pointer;
  color: #06a426;
  background: #dfffde;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

#bangs-table .active-bang-status.inactive {
  color: #ff2222;
  background-color: #ffe7e7;
}

#bangs-table .active-bang-status:hover {
  background: #eee2f4;
}

#bangs-table .active-bang-status:active {
  background: #dbd1e1;
}

.bang {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  font-family: monospace;
  font-size: 0.75rem;
  font-weight: bold;
  color: #7914ad;
  background-color: #f4f4f4;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#bangs-table td .bang {
  display: inline-block;
  cursor: pointer;
}

#no-bangs {
  color: #585858;
  font-size: 0.95rem;
  margin: 15px 0;
}

#pagination {
  font-size: 0.9rem;
  margin-bottom: 30px;
  white-space: nowrap;
}

#version {
  font-size: 0.8rem;
}

#version a:link,
#version a:visited {
  color: #4e4e4e;
}

.toast-container {
  position: fixed;
  width: 50%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1a1a1a;
  font-size: 0.95rem;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (width < 1100px) {
  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .toast-container {
    width: 90%;
  }

  #header {
    height: 4.5rem;
    padding: 0 4px 0 20px;
  }

  #footer {
    padding: 20px;
  }

  #yang-logo {
    width: 3rem;
  }

  .select-custom-default-bangs {
    width: 14rem;
  }

  .select-custom-default-bangs .select-options {
    width: 12.55rem;
  }

  .select-options .option-text {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #search-bar.searching {
    width: 50%;
  }

  .inner-container {
    max-width: 100vw;
  }

  .table-container {
    margin: 10px auto;
    width: 95%;
  }

  .button-container {
    justify-content: space-between;
    margin-bottom: 20px;
  }

  #bangs-table th,
  #bangs-table td {
    padding: 12px;
  }

  #bangs-table th:first-child,
  #bangs-table td:first-child {
    width: 50vw;
  }

  #bangs-table th:nth-child(2),
  #bangs-table td:nth-child(2) {
    padding-right: 0;
    padding-left: 0;
  }

  #bangs-table th:last-child,
  #bangs-table td:last-child {
    padding-right: 0;
    padding-left: 0;
    float: right;
  }

  #bangs-table .active-bang-status {
    margin-right: 12px;
  }

  #pagination {
    margin-top: 20px;
  }
}
