@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/Inter-4.0/InterVariable.woff2") format("woff2");
}

body {
  font-family: InterVariable, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 40%;
  margin: 50px auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0 0 0 0.1);
  border-radius: 8px;
  padding: 2em;
  overflow: hidden;
}

h1 {
  color: #333;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: normal;
}

h2 {
  color: #e15e49;
  font-weight: normal;
  text-align: start;
}

label {
  margin-bottom: 5px;
  text-align: start;
  width: 100%;
}

input {
  width: 15%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}

.setting-group:nth-child(n + 2) {
  margin-top: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e15e49;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: medium;
  transition:
    border-radius 0.5s ease,
    background 0.3s ease;
}

button:hover {
  background: #a84636;
  border-radius: 12px;
}

button svg {
  margin-right: 8px;
}

.setting-button {
  color: #e15e49;
  margin-left: 15px;
  padding: 5px 10px;
  background: white;
  border: solid 2px;
  border-color: #e15e49;
  font-size: 0.9rem;
  white-space: nowrap;
}

.setting-button svg {
  width: 1.1rem;
}

.setting-button:hover {
  background: #e15e49;
  color: white;
  border-radius: 8px;
}

.form {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.back-container {
  text-align: left;
}

.setting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.setting-label {
  text-align: start;
}

.setting-label p {
  margin: 7px 0 0;
  color: #454545;
}

.setting-detail {
  font-size: small;
}

input::placeholder {
  color: #666;
}

@media screen and (width < 1000px) {
  .container {
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .form {
    width: 90%;
  }

  .back-container {
    padding: 20px;
  }

  .button-label {
    display: none;
  }

  .setting-button svg {
    margin-right: 0;
    width: 1.1rem;
  }
}
